<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row g-3">
    <div class="col-sm-6">
      <label for="firstName" class="form-label">First name*:</label>
      <input type="text" class="form-control" id="firstName" placeholder="" value="" [(ngModel)]="addEditPerson.firstName" name="firstName" required>
      <div *ngIf="form.submitted && !form.controls['firstName']?.valid">
        <span class="badge text-bg-danger">First name required</span>
      </div>
    </div>
    <div class="col-sm-6">
    <label for="lastName" class="form-label">Last name*:</label>
    <input type="text" class="form-control" id="lastName" placeholder="" value=""  [(ngModel)]="addEditPerson.lastName" name="lastName" required>
    <div *ngIf="form.submitted && !form.controls['lastName']?.valid">
      <span class="badge text-bg-danger">Last name required</span>
    </div>
  </div>
    <div class="col-12">
      <label for="dob" class="form-label">Date of Birth*:</label>
      <input type="date" class="form-control" id="dob" [(ngModel)]="addEditPerson.dob" name="dob" required>
      <div *ngIf="form.submitted && !form.controls['dob']?.valid">
        <span class="badge text-bg-danger">Date of Birth required</span>
      </div>
    </div>
    <div class="col-md-5">
      <label for="department" class="form-label">Department*</label>
      <select class="form-select" id="department" name="department" (change)="onSelectionChange($event)" [(ngModel)]="addEditPerson.departmentId" required>
        <option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</option>
      </select>
      <div *ngIf="form.submitted && addEditPerson.departmentId === 0">
        <span class="badge text-bg-danger">Department required</span>
      </div>
    </div>
    <hr class="my-4">
    <div>
      @if(addEditPerson.id !== 0) {
      <button class="w-100 btn btn-success btn-lg" type="submit">Save Person</button>
      <hr class="my-4">
      <button class="w-100 btn btn-info btn-lg" (click)="clearPerson()">Create New Person</button>
      } @else {
      <button class="w-100 btn btn-primary btn-lg" type="submit">Save New Person</button>
      }
    </div>
  </div>
</form>



