
<div class="header">
  <h1 id="tableLabel">UK Parliament - People Manager</h1>
</div>
<div class="body">
  <p *ngIf="!people"><em>Loading...</em></p>

  <div class="people-container">
    <div class="data-table">
      <app-data-table [peopleList]="people"
                      (selectedPersonToEdit)="selectedPersonToEdit($event)"
                      (selectedPersonToDelete)="onDelete($event)"></app-data-table>
    </div>

    <div class="form-group">
      <app-data-editor [addEditPerson]="addEditPerson"
                       [departments]="departments"
                       (clearPersonEditor)="clearPerson($event)"
                       (newPerson)="addPerson($event)"
                       (updatePerson)="editPerson($event)"></app-data-editor>
    </div>
  </div>

  @if(addUserSuccess || editUserSuccess) {
  <div class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  }

  @if(errorMessage) {
  <div class="alert alert-danger" role="alert">
    {{ errorMessage | json }}
  </div>
  }

</div>





