:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.container  {
    display: flex; 
    width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.row-selected {
    background-color: #f0f0f0;
}
